@import "_variables.scss";

::-webkit-scrollbar {
	display: none;
}

* {
	padding: 0;
	margin: 0;
}

body {
	margin: 0;
	background-color: $background-color;
}

ul {
	color: white;
	text-align: center;
	list-style: none;
}
