@import "_variables.scss";

html {
	scroll-behavior: smooth;
}

::-webkit-scrollbar {
	display: none;
}

* {
	padding: 0;
	margin: 0;
}

body {
	margin: 0;
	background-color: $background-color;
}

ul {
	color: white;
	text-align: center;
	list-style: none;
}


// Custom Navbar
.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
	overflow: hidden;
	position: fixed;
	top: 0;
	width: 100%;
	background-color: $background-color;
	border-bottom: solid $nav-border-color 1px;
}

ul.navbar li {
	display: inline;
	transition: outline .1s;
	&.nav-right {
		float: right;
		border-left: solid $nav-border-color 1px;
	}
	&.nav-left {
		float: left;
		border-right: solid $nav-border-color 1px;
	}
	&:hover {
		// background-color: $off-white-color;
		outline: solid $nav-border-color 4px;
		opacity: 75%;
	}
}

.nav-link {
	font-size: $paragraph-font-size;
	font-weight: bold;
	display: block;
	min-width: 10vw;
	text-align: center;
	padding: 1vh .75vw;
	text-decoration: none;
	// border-bottom: solid $off-white-color 1px;
}
