$font-size-base: 1rem;

$h1-font-size: $font-size-base * 7 !default;
$h2-font-size: $font-size-base * 4.5 !default;
$h3-font-size: $font-size-base * 2 !default;
$paragraph-font-size: $font-size-base * 1.4 !default;
$copyright-font-size: $font-size-base * .9 !default;

$link-color: #ff6f00;
$link-hover-color: #c43e00;
$link-decoration-color: #c43e00;

$background-color: #1b1b1b;
$off-white-color: #edecf4;
$nav-border-color: #616161;

$paragraph-margins: 1rem;

$image-padding: 5px;
