@import "_typography.scss";

::-webkit-scrollbar {
  display: none;
}

* {
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  background-color: #1b1b1b;
}

.parallax {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#intro {
  min-height: 100vh;
  background: url("../img/_MG_5316-bw.jpg");
  background-size: cover;
  background-position: center;
}

#photography {
  min-height: 100vh;
  background: url("../img/02.jpg");
  background-size: cover;
  background-position: center;
}

#programming {
  min-height: 100vh;
  background: url("../img/code.jpeg");
  background-size: cover;
  background-position: center;
}

.header {
  text-align: center;
  overflow-wrap: break-word;
}

.divider {
  height: 10vh;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
  min-height: 25vh;
  max-height: 50vh;
  align-content: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.grid-header {
  grid-column-start: 1;
  grid-column-end: 4;
}

ul {
  color: white;
  text-align: center;
  list-style: none;
}

.stretch-grid {
  text-align: center;
  grid-column-start: 1;
  grid-column-end: 4;
}

p.col {
  text-align: center;
}