@import "_typography.scss";
@import "_images.scss";
@import "_elements.scss";

.container {
	display: flex;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	height: 60vh;
	// margin-left: 5vw;
	// margin-right: 5vw;
	padding-left: 5vw;
	padding-right: 5vw;
}

.content {
	flex-grow: 6;
	border-left: 2px;
	border-left-style: solid;
	margin-left: 2vw;
}

#gaming .container {
	flex-direction: column;
}

.divider {
	height: 40vh;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	border-top: 1px $off-white-color;
	border-top-style: solid;
}

#front-page {
	height: 100vh;
	margin: 0;
	background-image: url("../img/_MG_5316-bw.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

// Custom Navbar
.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
	overflow: hidden;
	position: fixed;
	top: 0;
	width: 100%;
	background-color: $background-color;
	border-bottom: solid $nav-border-color 1px;
}

ul.navbar li {
	display: inline;
	transition: outline .1s;
	&.nav-right {
		float: right;
		border-left: solid $nav-border-color 1px;
	}
	&.nav-left {
		float: left;
		border-right: solid $nav-border-color 1px;
	}
	&:hover {
		// background-color: $off-white-color;
		outline: solid $nav-border-color 4px;
		opacity: 75%;
	}
}

.nav-link {
	font-size: $paragraph-font-size;
	font-weight: bold;
	display: block;
	min-width: 10vw;
	text-align: center;
	padding: 1vh .75vw;
	text-decoration: none;
	// border-bottom: solid $off-white-color 1px;
}
