@import "_typography.scss";

::-webkit-scrollbar {
  display: none;
}

* {
  padding: 0;
  margin: 0;
  color: whitesmoke;
}

body {
  min-height: 100vh;
  overflow: hidden;
  background: no-repeat center url(../img/_MG_5316-bw.jpg);
  background-size: cover;
}

div.content {
  max-height: 100vh;
  height: -webkit-fill-available;
  overflow: scroll;
  background: #1b1b1b;
  box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4), 0px 6px 8px rgba(0, 0, 0, 0.1), 0px 8px 13px rgba(0, 0, 0, 0.1);
}

img#camp {
  float: left;
  padding: 10px;
  vertical-align: middle;
  border-style: none;
  max-width: 30%;
}
